.gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
.dog{
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 50%;
}
.sponsers{
  display: flex;
  justify-content: space-around;
}
#testimonial .text-body-emphasis{
  margin-bottom: 10px;
}
@media (max-width: 992px){
  .sponsers{
    display: flex;
    flex-direction: column;
  }
  .sponsers img{
    height: 50px;
    margin-top: 10px;
  }
}